/**
 * 设置舞台背景图片
 */
.root {    
	 -fx-background-image: url("3.jpg");
	 -fx-background-repeat:no-repeat;
	  -fx-background-size: 100.0% 100.0%;
}

/** 
 * 设置风格标签
 * */
 .label{
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF; 
 }

 /*
  *设置标题文本样式
  */
 #title{
    -fx-font-size: 20.0px;
    -fx-font-family: "Arial Blackt";
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
 }

 /** 
  * 设置提示文本样式
  * */ 
 #actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );  
}

/**
 * 设置登陆按钮样式
 */
 .button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(	#708090, #0000FF);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


/*设置登陆按钮悬停样式 */
.button:hover {    -fx-background-color: linear-gradient(	#1E90FF, #87CEFA);}
